
{{#each model as |pin|}}
	<li class="pin-thumbnail">
		<h3>
			{{#link-to 'pins.show' pin}}
				{{pin.title}}
			{{/link-to}}
				<a href="{{pin.url}}">{{pin.url}}</a>
		</h3>
	</li>
{{/each}}

{{link-to "Create" 'pins.create'}}

{{yield}}
